/corp/node_modules
/corp/public/hot
/corp/public/storage
/corp/storage/*.key
/corp/vendor
/corp/tmp/*
/corp/.env
/corp/.env.backup
/corp/.phpunit.result.cache
/corp/docker-compose.override.yml
/corp/Homestead.json
/corp/Homestead.yaml
/corp/npm-debug.log
/corp/yarn-error.log
/corp/.idea
/corp/.vscode

/admin/node_modules
/admin/public/hot
/admin/public/storage
/admin/storage/*.key
/admin/vendor
/admin/.env
/admin/.env.backup
/admin/.phpunit.result.cache
/admin/docker-compose.override.yml
/admin/Homestead.json
/admin/Homestead.yaml
/admin/npm-debug.log
/admin/yarn-error.log
/admin/.idea
/admin/.vscode
~                   
/student/node_modules
/student/public/hot
/student/public/storage
/student/storage/*.key
/student/vendor
/student/.env
/student/.env.backup
/student/.phpunit.result.cache
/student/docker-compose.override.yml
/student/Homestead.json
/student/Homestead.yaml
/student/npm-debug.log
/student/yarn-error.log
/student/.idea
/student/.vscode
~                   
